*  {
	background-color: white;
	color: rgb(66, 175, 97);
	font-family: verdana;
}

.page-header {
	margin: 60px 0 20px;
}

.h1.page-header {
	border: 0;
}

.has-gradient {
	background: linear-gradient(rgb(66, 175, 97), rgb(114, 114, 114));
}

.project-image {
	z-index: -1;
}

.text-overlay-background {
	line-height: 200%;
	height: 100%;
	width: 90%;
	background: linear-gradient(rgba(114, 114, 114, .6), white, rgba(114, 114, 114, .6));
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	position: absolute;
	z-index: +1;
}
.text-overlay {
	font-weight: bold;
	text-align: center;
	font-size: 14px;
	background-color: rgba(114, 114, 114, .0);
	position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
}