*  {
	background-color: white;
	color: rgb(66, 175, 97);
}

.page-header {
	margin: 60px 0 20px;
}

.h1.page-header {
	border: 0;
}

.has-gradient {
	background: linear-gradient(green, gray);
}

.project-image {
	z-index: -1;
}

.text-overlay {
	text-align: center;
	height: 50%;
	width: 90%;
	background-color: rgba(114, 114, 114, .8);
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	position: absolute;
	z-index: +1;
}